body { 
    background-color: #b7c7d1;
  }

.jumbotron {
    background-image: url("background.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  }